/* Stlesheet for McNibbler.com */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body, html {
	font-family: "Raleway";
	font-size: 1.2em;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: justify;
	height: 100%;
	margin: 0px;
	text-shadow: 1px 1px 2px black;
	word-wrap: break-word;
	margin: auto;
	line-height: 1.5em;
	font-kerning: auto;
}

.content {
	background-image: linear-gradient(to bottom right, #003d4d, #001433);
	text-shadow: 1px 1px 2px black, 0 0 5px white;
	padding: 40px;
	overflow: hidden;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
	font-weight: lighter;
	letter-spacing: 20px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 8px white;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
}

p {
	color: #d0d0d0;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 1.5em;
}

a {
	color: #ff80ff;
}

.header span.border {
	background-color: #101010;
	color: white;
	padding: 1em;
	font-size: 2em;
	letter-spacing: 20px;
	opacity: 0.9;
	text-align: center;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Generates the paralax header background */
.parallax1 {
	position: relative;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax1 {
	background-image: url("headerBgEdit2.PNG");
	height: 70%;
}

.header {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: black;
	font-family: "Open Sans", sans-serif;
}

#particles-js {
  	position: absolute;
  	width: 100%;
  	height: 100%;
	/* background-image: linear-gradient(to bottom right, #003d4d, #001433); */
	z-index = -1;
}
