/* Stylesheet for McNibbler.com */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body, html {
	font-family: "Raleway";
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: justify;
	height: 100%;
	margin: 0px;
	text-shadow: 1px 1px 2px black;
	word-wrap: break-word;
	margin: auto;
	line-height: 1.6em;
	font-kerning: auto;
}

.content {
	position: absolute;
	width: 100%;
	text-shadow: 1px 1px 2px black, 0 0 4px white;
	padding: 1.5em;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
	font-weight: lighter;
	letter-spacing: 20px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 6px white;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
}

p {
	color: #d0d0d0;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 1.5em;
}

a {
	color: #ff80ff;
	text-decoration: none;
}

a:hover {
	color: #4d79ff;
	text-decoration: none;
}

.menu ul {

	list-style-type: none;
	margin: 0px;
	width: 100%;
	color: #00ffcc;
	background-color: black;
	height: 2.2em;
	position: fixed;
	overflow: auto;
	z-index: 2;
	opacity: 0.75;
	padding-top: 0.2em;
	
}

.menu li{
	margin: auto;
	padding-left: 0.5em;
	text-align: center;
	display: inline;
	border-right: 1px solid #FFFFFF;
}

.menu li:last-child {
	padding-right: 0.5em;
	border-right: none;
}

.menu li:first-child {
	padding-left: 0;
}

.menu li a {
	font-size: 1.3em;
}

.menu li a:hover {
	color: magenta;
	background-color: #101010;
	text-decoration: none;
}

.foot {
	font-family: "Open Sans", sans-serif;
	background-color: black;
	width: 100%;
	height: auto;
	opacity: 0.7;
    color: #FFFFFF;
    text-shadow: none;
    font-size: 0.6em;
    letter-spacing: 2px;
    line-height: 1.4em;
    display: inline-block;
    padding-bottom: 1.5em;
}

.foot-left, .foot-middle, .foot-right{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	float: left;
	width: 33.33333%;
}


.header span.border {
	background-color: #101010;
	color: white;
	padding: 0.75em;
	/* For some reason there's extra space to the right */
	padding-right: 0.5em;
	font-size: 2em;
	padding-top: : 3em;
	letter-spacing: 20px;
	opacity: 0.9;
	text-align: center;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Generates the paralax header background */
.parallax1, .parallaxProjects {
	position: relative;
	opacity: 0.90;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax1 {
	background-image: url("headerBgEdit2.PNG");
	height: 60%;
}

.parallaxProjects {
	background-image: url("headerBgProjects.PNG");
	height: 60%;
}

.header {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
}

/* Responsive images */
div.gallery {
	border: 1px solid #cccccc;
	width: 60%;
	margin: auto;
	background-image: linear-gradient(to bottom right, #3b135e, #1e0633);
  	background-color: #3b135e;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	max-width: 500px;
}

div.gallery:hover {
	border: 1px solid #777777;
}

div.gallery img {
  	width: 100%;
  	height: auto;
}

div.description {
  	padding: 6px;
  	text-align: center;
 	font-family: "Open Sans", sans-serif;
 	color: #d0d0d0;
	font-size: 1em;
}

* {
  box-sizing: border-box;
}

.responsive {
	padding: 0 15px;
	float: center;
	width: 25%;
}

@media only screen and (max-width: 800px) {
	.responsive {
		width: 50%;
		margin: 15px 0;
	}
}

@media only screen and (max-width: 600px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Particles library */
#particles-js {
	position: fixed;
	top: -20%;
	bottom: -20%;
	left: 0;
	right: 0;
	width: 100%;
	background-image: linear-gradient(to bottom right, #003d4d, #001433);
	z-index: -1;
}
